{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Books Available{% endblock %}</title>
</head>
<body>
{% block content_body %}
    <div class="row-col-sm-12 text-center"><a href="/"><button class="btn btn-success w-50">Home</button></a></div>
     <div class="container">
    {% if books %}
            <div class="container-fluid mt-5">
         <table class="table table-hover table-responsive table-dark">
        <thead>
        <tr><th colspan="7"><h4 class=" alert alert-danger text-center">BOOKS</h4></th></tr>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.description }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
        <div id="center">
        <h2 class="alert alert-dark text-center" style="margin-top: 10%;  font-family: 'Helvetica Neue, Helvetica, Arial, sans-serif'">No Books Added Yet!</h2>
        </div>
{% endif%}
    </div>
{% endblock %}
</body>
</html>