{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Home{% endblock %}</title>
</head>
<body>
{% block content_body %}
    <div class="container-fluid text-center mt-5">
    <div class="row-cols-sm-12">
        <a href="{% url 'admin_login' %}"><button type="button" class="btn btn-info w-50">Admin Login</button> </a>
    </div>
     <div class="row-cols-sm-12" style="margin-top: 20%">
        <a href="/bookslist"><button type="button" class="btn btn-info w-50">Books Library</button> </a>
    </div>
    </div>
{% endblock %}
</body>
</html>